# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Julia
1. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. NumPy
1. Matplotlib
1. Scikit-learn

| Data Science Tools |
| ------------- |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to mutiply then add integers

a = (3*4)+5
print(a)

17

In [13]:
# This will convert 200 minutes to hours by diving by 60

b = 200/60
print(b, 'hours')

3.3333333333333335 hours

## Author
Dinda Putri Pamungkas